

/*Dashboard styling*/
.main-container {
    -fx-background-color: #fff;

}

.card {
    -fx-background-radius: 5px;
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.4), 6,0,1,1) ;
}

.label {
    -fx-text-fill: #707070;
    -fx-font-family: "Segoe UI";
}

.label-dashboard {
    -fx-font-weight: bold;
    -fx-font-style: italic;
    -fx-font-size: 18px;
}

.label-date-time {
    -fx-font-size: 15px;
}

.label-greeting {
    -fx-font-size: 12px;
    -fx-font-weight: bold;
}

.label-user {
    -fx-font-size: 13px;
    -fx-font-weight: bold;
}

.label-message {
    -fx-font-family: "Times New Roman";
    -fx-font-style: italic;
    -fx-text-fill: #40C5CF;
}

.label-title {
    -fx-font-size: 14px;
    -fx-font-weight: bold;
}

.label-term {
    -fx-font-size: 13px;
}



.text-field {
    -fx-background-color: white;
    -fx-background-radius: 5px;
    -fx-border-color: linear-gradient(to right, #40C5CF, #2ca772);
    -fx-border-width: 0.2px;
    -fx-border-radius: 5px;
    -fx-font-size: 13px;
    -fx-font-family: Segoe UI;
    -fx-padding: 4px 4px 4px 28px;
}

.text-field:focused {
    -fx-border-width: 0.8px;
}

.list-view {
    -fx-background-color: #fff;
    -fx-background-radius: 0px 0px 5px 5px;
}