


/*Dashboard teacher styling*/
.main-container {
    -fx-background-color: #fff;

}

.card {
    -fx-background-color: #fff;
    -fx-background-radius: 5px;
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.4), 6,0,1,1) ;
}

.card-grey {
    -fx-background-color: #E7ECEC;
    -fx-background-radius: 5px;
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.4), 6,0,1,1) ;
}

.label {
    -fx-text-fill: #707070;
    -fx-font-family: "Segoe UI";
}

.label-teaching-start-date {
    -fx-font-family: "Times New Roman";
    -fx-font-size: 12px;
    -fx-font-style: italic;
}

.label-table-title {
    -fx-font-weight: bold;
    -fx-font-size: 17px;
}

.label-teacher-name-detail {
    -fx-text-alignment: center;
}

.text-field {
    -fx-background-color: white;
    -fx-background-radius: 5px;
    -fx-border-color: linear-gradient(to right, #40C5CF, #2ca772);
    -fx-border-width: 0.2px;
    -fx-border-radius: 5px;
    -fx-font-size: 13px;
    -fx-font-family: Segoe UI;
}

.text-field:focused {
    -fx-border-width: 0.8px;
}

.text-field-search {
    -fx-background-color: white;
    -fx-background-radius: 5px;
    -fx-border-color: linear-gradient(to right, #40C5CF, #2ca772);
    -fx-border-width: 0.2px;
    -fx-border-radius: 5px;
    -fx-font-size: 13px;
    -fx-font-family: Segoe UI;
    -fx-padding: 4px 4px 4px 28px;
}

.text-field-search:focused {
    -fx-border-width: 0.8px;
}

.date-picker {
    -fx-background-color: white;
    -fx-background-radius: 5px;
    -fx-border-color: linear-gradient(to right, #40C5CF, #2ca772);
    -fx-border-width: 0.2px;
    -fx-border-radius: 5px;
    -fx-font-size: 13px;
    -fx-font-family: Segoe UI;
}

.date-picker:focused {
    -fx-border-width: 0.8px;
}

.choice-box {
    -fx-background-color: white;
    -fx-background-radius: 5px;
    -fx-border-color: linear-gradient(to right, #40C5CF, #2ca772);
    -fx-border-width: 0.2px;
    -fx-border-radius: 5px;
    -fx-font-size: 13px;
    -fx-font-family: Segoe UI;
}

.choice-box:focused {
    -fx-border-width: 0.8px;
}

.button {
    -fx-font-family: "Segoe UI";
    -fx-text-fill: #fff;
    -fx-background-radius: 5px;
    -fx-border-radius: 5px;
}

.button:hover {
    -fx-background-radius: 5px;
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.4), 6,0,1,1) ;
    -fx-cursor: hand;
}

.button-genID {
    -fx-background-color: #fff;
    -fx-text-fill: #40C5CF;
}

.button-genID:hover {
    -fx-background-color: #40C5CF;
    -fx-text-fill: white;
}

.button-clear {
    -fx-background-color: #FFB400;
}

.button-delete {
    -fx-background-color: #EC6666;
}

.button-update {
    -fx-background-color: #147AD6;
}

.button-add {
    -fx-background-color: #14D694;
}

.button-insert-image {
    -fx-background-color: #AF14D6;
}

/*.anchor-pane-container {
    -fx-alignment: center;
}*/

.anchor-pane-teacher-detail {
    -fx-border-radius: 100px;
    -fx-border-color: #40C5CF;
}

.table-view {
    -fx-background-color: transparent;
    -fx-border-color: linear-gradient(to bottom right, #40C5CF, #40CFB7);
}

.table-view .column-header-background {
    -fx-background-color: linear-gradient(to bottom right, #40C5CF, #40CFB7);
    -fx-border-inset: 0 0 0 0;
}

.table-view .column-header, .filter {
    -fx-background-color: transparent;
    -fx-size: 40px;
}

.table-view .column-header .label {
    -fx-font-family: "Segoe UI";
    -fx-text-fill: #fff;
    -fx-font-size: 13px;
    -fx-alignment: center;
}

.table-view .table-column {
    -fx-alignment: center;
    -fx-pref-height: 28px;
}

.tab-pane {
    -fx-background-color: transparent;
    -fx-border-color: linear-gradient(to bottom right, #40C5CF, #40CFB7);
    -fx-border-width: 2px;
    -fx-border-radius: 8px;
}

.tab-pane .tab-header-background {
    -fx-background-color: linear-gradient(to bottom right, #40C5CF, #40CFB7);
    -fx-background-radius: 8px 8px 0px 0px;
}

.tab-pane .tab-header .label {
    -fx-font-family: "Segoe UI";
    -fx-text-fill: #fff;
    -fx-font-size: 19px;
    -fx-alignment: center-right;
}

.tab .tab-label {
    -fx-font-weight: bold;
    -fx-font-size: 14px;
    -fx-text-fill: #fff;
    -fx-pref-width: 120px;
    -fx-min-width: 90px;
    -fx-text-alignment: center;
}

.tab {
    -fx-background-radius: 8px 8px 0px 0px;
    -fx-background-color: #40C5CF;
    -fx-border-color: #40C5CF;
    -fx-border-radius: 8px 8px 0px 0px;
}

.tab:selected {
    -fx-background-color: #fff;
    -fx-border-color: #fff;
    -fx-text-fill: #40C5CF;
}

.tab:selected .tab-label{
    -fx-text-fill: #40C5CF;
}